<<<<<<< HEAD
﻿@model ContatoModel
@{
=======
﻿@{
>>>>>>> 0fecd126d7d3dede56a6b7e02d294da4fd6f42a2
    ViewData["Title"] = "Criar contato";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar contato</h1>
    
</div>
<<<<<<< HEAD
<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome">
=======
<form>
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" placeholder="Digite seu nome">
>>>>>>> 0fecd126d7d3dede56a6b7e02d294da4fd6f42a2
    </div>
    <br />
    <div class="form-group">
        <label for="email">E-mail</label>
<<<<<<< HEAD
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu melhor email">
=======
        <input type="text" class="form-control" placeholder="Digite seu melhor email">
>>>>>>> 0fecd126d7d3dede56a6b7e02d294da4fd6f42a2
    </div>
    <br />

    <div class="form-group">
        <label for="celular">Celular</label>
<<<<<<< HEAD
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite um celular para contato">
=======
        <input type="text" class="form-control" placeholder="Digite um celular para contato">
>>>>>>> 0fecd126d7d3dede56a6b7e02d294da4fd6f42a2
    </div>
    <br />
    <button type="submit" class="btn btn-primary w-100">Adicionar</button>
    <br />
    <br />

    <a class="btn btn-secondary w-100" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>